@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* ### Primary */

/* - Blue: hsl(246, 80%, 60%) */
.blue{
  background-color: hsl(246, 80%, 60%);
}

/* ### Neutral */
/* hsl(236, 41%, 34%) */
/* - Very dark blue: hsl(226, 43%, 10%) */
/* - Dark blue: hsl(235, 46%, 20%) */
/* - Desaturated blue: hsl(235, 45%, 61%) */
/* - Pale Blue: hsl(236, 100%, 87%) */
.bg_dark_blue{
  background-color: hsl(235, 46%, 20%);
}

.bg_desaturated_blue{
  background-color: hsl(235, 45%, 61%);
}

.bg_pale_blue{
  background-color: hsl(236, 100%, 87%);
}

.container {
  padding: 0 2rem;
  background-color: hsl(226, 43%, 10%);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.footer {
  display: flex;
  flex: 1;
  padding: .5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
}

.footer a {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

@media (max-width: 375px) { 
  .container {
    padding: 0;
  }

  .main {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
